<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.UserMapper">
    <insert id="insert" parameterType="com.example.shopping.entity.User">
        INSERT INTO users (username, phone, password, gender, role) 
        VALUES (#{username}, #{phone}, #{password}, #{gender}, #{role})
    </insert>
    
    <delete id="delete">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper>
